<ion-view title="Bike Session" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="bikeSession-heading3" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Stay safe out there -Your friends at Hacket</h1>
    <div id="bikeSession-button-bar1" class="button-bar">
      <button id="bikeSession-button6" class="button button-stable  button-block">Left</button>
      <button id="bikeSession-button7" class="button button-assertive  button-block">Stop</button>
      <button id="bikeSession-button8" class="button button-stable  button-block">Right</button>
    </div>
    <div>
      <img src="img/eEkgAt3TQFCp9J562XzE_speed.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>