<ion-view title="February 15,2017" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="february152017-heading18" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Music Stats:</h1>
    <div>
      <a style="display:block;" href="tel:">
        <img src="img/79X7dJUiSX2DZZTDTmlc_musicchartgenres.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <h4 id="february152017-heading19" style="color:#FFFFFF;font-weight:300;text-align:center;">Songs Played: 55</h4>
    <h1 id="february152017-heading20" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Bike Stats: </h1>
    <h4 id="february152017-heading22" style="color:#FFFFFF;font-weight:300;text-align:center;">Right Turns Made: 14</h4>
    <h4 id="february152017-heading24" style="color:#FFFFFF;font-weight:300;text-align:center;">Left Turns Made: 34</h4>
    <h4 id="february152017-heading25" style="color:#FFFFFF;font-weight:300;text-align:center;">Stops Made: 32</h4>
  </ion-content>
</ion-view>