<ion-view title="February 17,2017" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="february172017-heading11" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Music Stats:</h1>
    <div>
      <a style="display:block;" href="tel:">
        <img src="img/79X7dJUiSX2DZZTDTmlc_musicchartgenres.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <h4 id="february172017-heading17" style="color:#FFFFFF;font-weight:300;text-align:center;">Songs Played: 65</h4>
    <h1 id="february172017-heading16" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Bike Stats: </h1>
    <h4 id="february172017-heading13" style="color:#FFFFFF;font-weight:300;text-align:center;">Right Turns Made: 22</h4>
    <h4 id="february172017-heading14" style="color:#FFFFFF;font-weight:300;text-align:center;">Left Turns Made: 34</h4>
    <h4 id="february172017-heading15" style="color:#FFFFFF;font-weight:300;text-align:center;">Stops made: 45</h4>
  </ion-content>
</ion-view>