<ion-view title="February 14, 2017" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="february142017-heading26" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Music Stats:</h1>
    <div>
      <a style="display:block;" href="tel:">
        <img src="img/79X7dJUiSX2DZZTDTmlc_musicchartgenres.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <h4 id="february142017-heading27" style="color:#FFFFFF;font-weight:300;text-align:center;">Songs Played: 64</h4>
    <h1 id="february142017-heading28" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Bike Stats: </h1>
    <h4 id="february142017-heading29" style="color:#FFFFFF;font-weight:300;text-align:center;">Right Turns Made: 44</h4>
    <h4 id="february142017-heading30" style="color:#FFFFFF;font-weight:300;text-align:center;">Left Turns Made: 28</h4>
    <h4 id="february142017-heading31" style="color:#FFFFFF;font-weight:300;text-align:center;">Stops Made: 55</h4>
  </ion-content>
</ion-view>