<ion-view title="Hacket" id="page1" style="background-color:#5E4770;">
  <ion-content padding="true" class="has-header">
    <h1 id="hacket-heading8" style="color:#FFFFFF;font-weight:lighter;text-align:center;"> Welcome to Hacket!</h1>
    <h1 id="hacket-heading2" style="color:#000000;"></h1>
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <a ui-sref="hacket2.bikeSession" id="hacket-button1" class="button button-stable  button-block">Start a Bike Session</a>
    <a ui-sref="hacket2.musicSession" id="hacket-button2" class="button button-stable  button-block">Start a Music Session</a>
    <button id="hacket-button13" class="button button-assertive  button-block">Connect to Jacket</button>
  </ion-content>
</ion-view>
