<ion-view title="Hacket" id="page1" style="background-color:#5E4770;">
  <ion-content padding="true" class="has-header">
    <h1 id="hacket-heading2" style="color:#000000;"></h1>
    <div>
      <img src="img/hrnh1ihTB2TvhSj9SujK_Hacket.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="hacket2.bikeSession" id="hacket-button1" class="button button-calm  button-block">Start a Bike Session</a>
    <a ui-sref="hacket2.musicSession" id="hacket-button2" class="button button-calm  button-block">Start a Music Session</a>
    <button id="hacket-button13" class="button button-calm  button-block">Connect to bike</button>
  </ion-content>
</ion-view>