<ion-view title="Music Session" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="musicSession-heading4" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Track your music</h1>
    <div>
      <img src="img/zzuPSDkvQj3cwzRlmgCP_musicchart.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="musicSession-button9" class="button button-calm  button-block">Connect to Spotify/Pandora</button>
  </ion-content>
</ion-view>